extends ../layout

block content
  .page-header
    h3 Your clusters
  p List of all your avaiable clusters
    a(href="/clusters/new")
      button.btn.btn-success(type='submit' style="float:right;")
        span.ion-plus-round
        | Create
  table(class="table table-striped")
    thead
      tr
        td Cluster
        td Endpoint
        td View
    each cluster in clusters
      tr
        td= cluster.url
        td= cluster.apps[0].name
        td
          a(href="/clusters/#{cluster.id}") View

