extends ../layout

block content
  .page-header
    h3 Create new cluster
  p(style='text-align:center;') Insert your Elasticsearch service provider URL.

  form.form-horizontal(id='cluster-form', method='POST', action='/clusters')

    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='url') Url
      .col-sm-7
        input.form-control(type='text', name='url', id='url', placeholder='Url', autofocus)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          span.ion-plus-round
          | Create
